@model CatMashWeb.ViewModels.CatCandidatesRankingViewModel

@{
    ViewData["Title"] = "Score list";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

@foreach (var cat in Model.CatCandidates)
{
    <div class="row">
        <div class="col-md-6">
            <img src="@cat.ImgUrl" class="img-responsive" style="width:100%" />
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
            @{var p = "p" + @cat.Score.ToString(); }
            <div class="c100 @p big">
                <span>@cat.Score.ToString()</span>
                <div class="slice">
                    <div class="bar" style="transform: rotate(61.2deg);"></div>
                    <div class="fill"></div>
                </div>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <br>
}


