@model CatMashWeb.ViewModels.CatVotingViewModel

@{
    ViewData["Title"] = "Vote";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

@using (Html.BeginForm("UpdateCatScore", "CatMash", FormMethod.Post, new { id = "formCatVoting" }))
{
    <div class="row">
        <div class="col-md-12">
            Were we let in for our looks? No. Will we be judged on them? Yes.
            <br>
            Vote now ! Click to Choose
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-6" style="height: 450px;">
            <img src="@Model.CatCandidateLeft.ImgUrl" id="@Model.CatCandidateLeft.Id" class="img-responsive js-catcandidate" style="width:100%;height:100%" asp-append-version="true" />
        </div>
        <div class="col-md-6" style="height: 450px;">
            <img src="@Model.CatCandidateRight.ImgUrl" id="@Model.CatCandidateRight.Id" class="img-responsive js-catcandidate" style="width:100%;height:100%" asp-append-version="true" />
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12 text-center">
            <a href="/Catmash/CatVoting/?idxCat=@(Model.IdxCat + 1)" title="Next Players" style="font-size: 300%">→</a>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12 text-center">
            <a href="/Catmash/CatCandidatesRanking" class="bottom" style="font-size: 400%">Top 100</a>
        </div>
    </div>
    <!-- modal -->
    <div class="modal fade" id="modal_loader" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <div class="loader"></div>
                    <div clas="loader-txt">
                        <p>Vote bien enregistré....</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
}



@section Scripts {
    @*a voir*@
    @*<script src="~/js/catVoting.min.js"></script>*@
    <script>
        $(document).ready(function () {
            InitEvents();
        });

        function InitEvents() {
            /**
             * Event Vote
             */
            $(".js-catcandidate").click(function (e) {
                e.preventDefault();

                $('#modal_loader').modal('show');
                setTimeout(function () {
                    CatVoting(this);
                }, 850);
            });

        }

        function CatVoting(obj) {
            $("#CatIdSelected").val(obj.id);
            $("#formCatVoting").submit();
        }
    </script>
}
